html {
	-pie-load-path: "http://css3pie.com/pie";
}

.box-shadow {
	behavior: url("/PIE/build/PIE.htc");
	behavior: none\9\0;
	background: #fff;
	box-shadow: #ccc 0 0 .25em;
}

.gradient {
	behavior: url("/PIE/build/PIE.htc");
	-pie-background: linear-gradient(#eef, #fff 70%);
	background: linear-gradient(#eef, #fff 70%);
}
