.test {
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 10px 20px/60px 60px padding-box;
	background: url(skin/p_103x196_1.jpg) no-repeat 10px 20px/60px 60px padding-box;
}

.test {
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 90px 100px/60px padding-box #aaa;
	background: url(skin/p_103x196_1.jpg) no-repeat 90px 100px/60px padding-box #aaa;
}

.test {
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px/60px 80px padding-box;
	background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px/60px 80px padding-box;
}

.test {
	background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px;
}
