html {
	-pie-load-path: "http://css3pie.com/pie";
}

.test {
	behavior: url("http://css3pie.com/pie/PIE.htc");
	behavior: none\9\0;
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 10px 20px/60px 60px padding-box;
	background: url(skin/p_103x196_1.jpg) no-repeat 10px 20px/60px 60px padding-box;
}

.test {
	behavior: url("http://css3pie.com/pie/PIE.htc");
	behavior: none\9\0;
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 90px 100px/60px padding-box #aaa;
	background: url(skin/p_103x196_1.jpg) no-repeat 90px 100px/60px padding-box #aaa;
}

.test {
	behavior: url("http://css3pie.com/pie/PIE.htc");
	behavior: none\9\0;
	-pie-background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px/60px 80px padding-box;
	background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px/60px 80px padding-box;
}

.test {
	background: url(skin/p_103x196_1.jpg) no-repeat 50px 60px;
}
