.test {
	width: 300px;
	height: 300px;
	background: url(skin/p_103x196_1.jpg) no-repeat 10px 20px/60px 60px padding-box,
	url(skin/p_103x196_1.jpg) no-repeat 50px 60px/60px 80px padding-box,
	url(skin/p_103x196_1.jpg) no-repeat 90px 100px/60px padding-box #aaa;
}
